.selectricWrapper{position:relative;margin:0
0 10px;width:300px;cursor:pointer}.selectricDisabled{filter:alpha(opacity=50);opacity:0.5;cursor:default;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.selectricOpen{z-index:9999}.selectricOpen
.selectricItems{display:block}.selectricHideSelect{position:relative;overflow:hidden;width:0;height:0}.selectricHideSelect
select{position:absolute;left:-100%;display:none}.selectricInput{position:absolute !important;top:0 !important;left:0 !important;overflow:hidden !important;clip:rect(0, 0, 0, 0) !important;margin:0
!important;padding:0
!important;width:1px !important;height:1px !important;outline:none !important;border:none !important;_font:0/0 a;background:none !important}.selectricTempShow{position:absolute !important;visibility:hidden !important;display:block !important}.selectricOpen
.selectric{border-color:#d2d2d2;background:#e6e6e6;z-index:9999}.selectric{border:1px
solid #EBEBEB;background:#FFF;position:relative;border-radius:0px}.selectric
.label{display:block;white-space:nowrap;overflow:hidden;margin:0
30px 0 0;padding:6px
10px;font-size:12px;line-height:18px;color:#4A5553;min-height:18px}.selectric
.button{background:#4a5553;border-radius:0px;display:block;position:absolute;right:0;top:0;width:30px;height:30px;color:#EBEBEB;text-align:center;font:0/0 a;*font:12px/30px Lucida Sans Unicode, Arial Unicode MS, Arial}.selectric .button:after{content:" ";position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:0;height:0;border:4px
solid transparent;border-top-color:#EBEBEB;border-bottom:none}.selectricHover
.selectric{border-color:#d2d2d2}.selectricHover .selectric
.button{color:#d2d2d2}.selectricHover .selectric .button:after{border-top-color:#d2d2d2}.selectricItems{display:none;position:absolute;overflow:auto;top:100%;left:0;background:#F9F9F9;border:1px
solid #CCC;z-index:9998;-webkit-box-shadow:0 0 10px -6px;box-shadow:0 0 10px -6px}.selectricItems ul,
.selectricItems
li{list-style:none;padding:0;margin:0;min-height:20px;line-height:20px;font-size:12px}.selectricItems
li{padding:5px;cursor:pointer;display:block;border-bottom:1px solid #EEE;color:#666;border-top:1px solid #FFF}.selectricItems
li.selected{background:#EFEFEF;color:#444;border-top-color:#E0E0E0}.selectricItems li:hover{background:#F0F0F0;color:#444}.selectricItems
li.disabled{background:#F5F5F5;color:#BBB;border-top-color:#FAFAFA;cursor:default}